<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.MessagesMapper" >

    <!--
    之前的：
    select alexw.* from (
        select resa.id id, resa.stcd stcd, resa.pj pj, resa.z z,resa.vj vj,resa.va va, resa.q q,
         resb.RainRanges rainRanges, resb.WaterRanges waterRanges,resb.content content, resc.stnm stname, resa.tm tm from
        (SELECT IFNULL(fw2.id,fw1.id) id, fw1.stcd stcd,fw2.vj vj,fw2.va va,fw2.q q, fw1.pj pj, fw2.z z, IFNULL(fw2.tm,fw1.tm) tm from
        (SELECT id, stcd,FORMAT(IFNULL(SUM(PN05),0),1) as pj,z,vj,va,q,tm from ${tabname} sa where
        tm > (SELECT CASE WHEN DATE_FORMAT(NOW(),'%H') > 8 THEN
        FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) + INTERVAL 8 HOUR))
        ELSE FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) - INTERVAL 1 DAY + INTERVAL 8 HOUR)) END)
        GROUP BY stcd) fw1
        LEFT JOIN
        (SELECT * from ${tabname} where
        tm > (SELECT CASE WHEN DATE_FORMAT(NOW(),'%H') > 8 THEN
        FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) + INTERVAL 8 HOUR))
        ELSE FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) - INTERVAL 1 DAY + INTERVAL 8 HOUR)) END)
        and z is not null
        order by tm desc limit 1) fw2
        ON fw1.stcd = fw2.stcd) resa,
        st_alarmconfigure resb,
        st_stbprp_b resc
        where (resa.stcd = resb.stcd and resa.stcd = resc.stcd) and
        (resa.pj >= resb.RainRanges or resa.z >= resb.WaterRanges)) alexw left join alex_wxpushlog resd on
        alexw.stcd = resd.stcd and resd.state = 0 and (resd.tm &lt; DATE_SUB(NOW(),INTERVAL 60 MINUTE))
        and resd.tm > (SELECT CASE WHEN DATE_FORMAT(NOW(),'%H') > 8 THEN
        FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) + INTERVAL 8 HOUR))
        ELSE FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) - INTERVAL 1 DAY + INTERVAL 8 HOUR)) END)
        GROUP BY resd.stcd
    -->
    <!--水位雨量预警，不包括当天第一次-->
	<select id="getvopjz1" resultType="com.model.MessageVo" parameterType="string">
        SELECT alexw.* FROM (SELECT resa.id id, resa.stcd stcd, resb.RainRanges rainRanges, resb.WaterRanges waterRanges, resa.pj pj, resa.z z,resa.vj vj,resa.va va, resa.q q,
        resc.stnm stname, resa.tm tm from
        (SELECT id, stcd,FORMAT(IFNULL(SUM(PN05),0),1) as pj,z,vj,va,q,tm from
        (SELECT * from ${tabname} sa where
        tm > (select date_sub(now(), interval 60 MINUTE)) and
        tm &lt;= (select now())
        ORDER BY sa.tm DESC) sg
        GROUP BY sg.stcd) resa,
        st_alarmconfigure resb,
        st_stbprp_b resc
        where resa.stcd = resc.stcd and resa.stcd = resb.stcd and
        (resa.pj >= resb.RainRanges OR resa.z >= resb.WaterRanges)) alexw,
        alex_wxpushlog resd WHERE
        alexw.stcd = resd.stcd and resd.state = 0
        and (resd.pj >= alexw.rainRanges OR resd.z >= alexw.waterRanges)
        and resd.tm > (SELECT CASE WHEN DATE_FORMAT(NOW(),'%H') > 8 THEN
        FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) + INTERVAL 8 HOUR))
        ELSE FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) - INTERVAL 1 DAY + INTERVAL 8 HOUR)) END)
        and (resd.tm &lt; DATE_SUB(NOW(),INTERVAL 120 MINUTE))
        GROUP BY resd.stcd
    </select>

    <!--雨量预警，判断当天第一次-->
    <select id="getvopj2" resultType="com.model.MessageVo" parameterType="string">
        SELECT resa.id id, resa.stcd stcd, resb.RainRanges rainRanges, resb.WaterRanges waterRanges, resa.pj pj, resa.z z,resa.vj vj,resa.va va, resa.q q,
        resc.stnm stname, resa.tm tm from
        (SELECT id, stcd,FORMAT(IFNULL(SUM(PN05),0),1) as pj,z,vj,va,q,tm from
        (SELECT * from ${tabname} sa where
        tm > (select date_sub(now(), interval 60 MINUTE)) and
        tm &lt;= (select now())
        ORDER BY sa.tm DESC) sg
        GROUP BY sg.stcd) resa,
        st_alarmconfigure resb,
        st_stbprp_b resc
        where (resa.stcd = resc.stcd and resa.stcd = resb.stcd and
        (resa.pj >= resb.RainRanges OR resa.z >= resb.WaterRanges)) and resa.stcd not in
        (select jk.stcd stcd from alex_wxpushlog jk where jk.pj >= jk.rainRanges AND jk.tm > (SELECT CASE WHEN DATE_FORMAT(NOW(),'%H') > 8 THEN
        FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) + INTERVAL 8 HOUR))
        ELSE FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) - INTERVAL 1 DAY + INTERVAL 8 HOUR)) END) GROUP BY jk.stcd)
        GROUP BY resa.stcd
    </select>

    <!--水位预警，判断当天第一次-->
    <select id="getvoz2" resultType="com.model.MessageVo" parameterType="string">
        SELECT resa.id id, resa.stcd stcd, resb.RainRanges rainRanges, resb.WaterRanges waterRanges, resa.pj pj, resa.z z,resa.vj vj,resa.va va, resa.q q,
        resc.stnm stname, resa.tm tm from
        (SELECT id, stcd,FORMAT(IFNULL(SUM(PN05),0),1) as pj,z,vj,va,q,tm from
        (SELECT * from ${tabname} sa where
        tm > (select date_sub(now(), interval 180 MINUTE)) and
        tm &lt;= (select now())
        ORDER BY sa.tm DESC) sg
        GROUP BY sg.stcd) resa,
        st_alarmconfigure resb,
        st_stbprp_b resc
        where (resa.stcd = resc.stcd and resa.stcd = resb.stcd and
        resa.z >= resb.WaterRanges) and resa.stcd not in
        (select jk.stcd stcd from alex_wxpushlog jk where jk.z >= jk.waterRanges AND jk.tm > (SELECT CASE WHEN DATE_FORMAT(NOW(),'%H') > 8 THEN
        FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) + INTERVAL 8 HOUR))
        ELSE FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) - INTERVAL 1 DAY + INTERVAL 8 HOUR)) END) GROUP BY jk.stcd)
        GROUP BY resa.stcd
    </select>

    <select id="getvozx" resultType="com.model.MessageVo" parameterType="string">
        SELECT resa.id id, resa.stcd stcd, resb.RainRanges rainRanges, resb.WaterRanges waterRanges, resa.pj pj, resa.z z,resa.vj vj,resa.va va, resa.q q,
         resc.stnm stname, resa.tm tm from
        (SELECT IFNULL(fw2.id,fw1.id) id, fw1.stcd,fw2.vj,fw2.va,fw2.q, fw1.pj pj, fw2.z z, IFNULL(fw2.tm,fw1.tm) tm from
        (SELECT id, stcd,FORMAT(IFNULL(SUM(PN05),0),1) as pj,z,vj,va,q,tm from ${tabname} sa where
        tm > (select date_sub(now(), interval 15 MINUTE)) and
        tm &lt;= (select now())
        GROUP BY stcd) fw1
        LEFT JOIN
        (SELECT * from ${tabname} where
        tm > (select date_sub(now(), interval 15 MINUTE))
        and z is not null
        order by tm desc limit 1) fw2
        ON fw1.stcd = fw2.stcd) resa,
        st_alarmconfigure resb,
        st_stbprp_b resc
        where resa.stcd = resc.stcd and resa.stcd = resb.stcd and resa.stcd = "0066668806" and
        resa.z >= resb.WaterRanges
    </select>

    <!--SELECT resa.id id, resa.stcd stcd, resa.pj pj, resa.z z,resa.vj vj,resa.va va, resa.q q,
         resc.stnm stname, resa.tm tm from
        (SELECT IFNULL(fw2.id,fw1.id) id, fw1.stcd,fw2.vj,fw2.va,fw2.q, fw1.pj pj, fw2.z z, IFNULL(fw2.tm,fw1.tm) tm from
        (SELECT id, stcd,FORMAT(IFNULL(SUM(PN05),0),1) as pj,z,vj,va,q,tm from ${tabname} sa where
        tm > (SELECT CASE WHEN DATE_FORMAT(NOW(),'%H') >= 8 THEN
        FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) + INTERVAL 8 HOUR))
        ELSE FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) - INTERVAL 1 DAY + INTERVAL 8 HOUR)) END)
        GROUP BY stcd) fw1
        LEFT JOIN
        (SELECT * from ${tabname} where
        tm > (SELECT CASE WHEN DATE_FORMAT(NOW(),'%H') >= 8 THEN
        FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) + INTERVAL 8 HOUR))
        ELSE FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) - INTERVAL 1 DAY + INTERVAL 8 HOUR)) END)
        and z is not null
        order by tm desc limit 2) fw2
        ON fw1.stcd = fw2.stcd) resa,
        st_stbprp_b resc
        where resa.stcd = resc.stcd order by resa.stcd asc-->
    <select id="alexnowdata" parameterType="string" resultType="com.model.MessageVo">
        SELECT resa.id id, resa.stcd stcd, resa.pj pj, resa.z z,resa.vj vj,resa.va va, resa.q q,
         resc.stnm stname, resa.tm tm
        FROM (SELECT id, stcd,FORMAT(IFNULL(SUM(PN05),0),1) as pj,z,vj,va,q,tm FROM (SELECT * from ${tabname} sa where
        sa.tm > (SELECT CASE WHEN DATE_FORMAT(NOW(),'%H') > 8 THEN
        FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) + INTERVAL 8 HOUR))
        ELSE FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) - INTERVAL 1 DAY + INTERVAL 8 HOUR)) END)
		ORDER BY sa.tm DESC) sg
        GROUP BY sg.stcd) resa,
        st_stbprp_b resc
        where resa.stcd = resc.stcd order by resa.stcd ASC
    </select>

    <!--SELECT resa.id id, resa.stcd stcd, resa.pj pj, resa.z z,resa.vj vj,resa.va va, resa.q q,
         resc.stnm stname, resa.tm tm from
        (SELECT IFNULL(fw2.id,fw1.id) id, fw1.stcd,fw2.vj,fw2.va,fw2.q, fw1.pj pj, fw2.z z, IFNULL(fw2.tm,fw1.tm) tm from
        (SELECT id, stcd,FORMAT(IFNULL(SUM(PN05),0),1) as pj,z,vj,va,q,tm from ${tabname} sa where
        tm > (select date_sub(now(), interval 1 hour)) and
        tm &lt;= (select now())
        GROUP BY stcd) fw1
        LEFT JOIN
        (SELECT * from ${tabname} where
        tm > (select date_sub(now(), interval 1 hour))
        and z is not null
        order by tm desc limit 1) fw2
        ON fw1.stcd = fw2.stcd) resa,
        st_stbprp_b resc
        where resa.stcd = resc.stcd order by resa.stcd asc-->
    <!--一个小时数据-->
    <select id="shitljyone" resultType="com.model.MessageVo" parameterType="string">
        SELECT resa.id id, resa.stcd stcd, resa.pj pj, resa.z z,resa.vj vj,resa.va va, resa.q q,resc.stnm stname, resa.tm tm
        FROM (SELECT id, stcd,FORMAT(IFNULL(SUM(PN05),0),1) as pj,z,vj,va,q,tm FROM (SELECT * from ${tabname} sa where
        tm > (select date_sub(now(), interval 1 hour)) and
        tm &lt;= (select now())
        ORDER BY sa.tm DESC) sg
        GROUP BY sg.stcd) resa,
        st_stbprp_b resc
        where resa.stcd = resc.stcd
        order by resa.stcd ASC
    </select>

    <!--SELECT resa.id id, resa.stcd stcd, resa.pj pj, resa.z z,resa.vj vj,resa.va va, resa.q q,
         resc.stnm stname, resa.tm tm from
        (SELECT IFNULL(fw2.id,fw1.id) id, fw1.stcd,fw2.vj,fw2.va,fw2.q, fw1.pj pj, fw2.z z, IFNULL(fw2.tm,fw1.tm) tm from
        (SELECT id, stcd,FORMAT(IFNULL(SUM(PN05),0),1) as pj,z,vj,va,q,tm from ${tabname} sa where
        tm > (SELECT FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) - INTERVAL 1 DAY + INTERVAL 20 HOUR)))
        GROUP BY stcd) fw1
        LEFT JOIN
        (SELECT * from ${tabname} where
        tm > (SELECT FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) - INTERVAL 1 DAY + INTERVAL 20 HOUR)))
        and z is not null
        order by tm desc limit 2) fw2
        ON fw1.stcd = fw2.stcd) resa,
        st_stbprp_b resc
        where resa.stcd = resc.stcd order by resa.stcd asc-->
    <!--昨晚20点至今-->
    <select id="shitljy" parameterType="string" resultType="com.model.MessageVo">
        SELECT resa.id id, resa.stcd stcd, resa.pj pj, resa.z z,resa.vj vj,resa.va va, resa.q q,
         resc.stnm stname, resa.tm tm from
        (SELECT id, stcd,FORMAT(IFNULL(SUM(PN05),0),1) as pj,z,vj,va,q,tm from
        (SELECT * from ${tabname} sa where
        tm > (SELECT FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) - INTERVAL 1 DAY + INTERVAL 20 HOUR)))
        ORDER BY sa.tm DESC) sg
        GROUP BY sg.stcd) resa,
        st_stbprp_b resc
        where resa.stcd = resc.stcd
        order by resa.stcd ASC
    </select>

    <update id="handlewechatalarm">
        UPDATE alex_wxpushlog set state = 1 where state = 0
    </update>

    <select id="issended" resultType="int" parameterType="com.model.MessageVo">
        select count(*) from alex_wxpushlog where
        stcd = #{stcd} and ((tm >= DATE_SUB(NOW(),INTERVAL 120 MINUTE) and state = 0) or (tm >= DATE_SUB(NOW(),INTERVAL 180 MINUTE) and state = 1)) and tm > (SELECT CASE WHEN DATE_FORMAT(NOW(),'%H') > 8 THEN
        FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) + INTERVAL 8 HOUR))
        ELSE FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) - INTERVAL 1 DAY + INTERVAL 8 HOUR)) END)
    </select>

    <select id="issendedzx" resultType="int" parameterType="com.model.MessageVo">
        select count(*) from alex_wxpushlog where
        stcd = #{stcd} and z >= WaterRanges and content like '%水位流量预警%' and ((tm >= DATE_SUB(NOW(),INTERVAL 60 MINUTE) and state = 0) or (tm >= DATE_SUB(NOW(),INTERVAL 6 HOUR) and state = 1)) and tm > (SELECT CASE WHEN DATE_FORMAT(NOW(),'%H') > 8 THEN
        FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) + INTERVAL 8 HOUR))
        ELSE FROM_UNIXTIME(UNIX_TIMESTAMP(CAST(SYSDATE()AS DATE) - INTERVAL 1 DAY + INTERVAL 8 HOUR)) END)
    </select>
    
	<select id="getopenids" resultType="com.model.Openid">
        select * from alex_openid where state = 1
    </select>

    <insert id="addwxpushlog" parameterType="com.model.MessageVo">
        insert into alex_wxpushlog(id,username,phone,stcd,stname,content,pj,pn05,z,zb,zu,waterRanges,rainRanges,tm)
        values(null,#{username},#{phone},#{stcd},#{stname},#{content},#{pj},#{pn05},#{z},#{zb},#{zu},#{waterRanges},#{rainRanges},#{tm})
    </insert>

    <update id="updatevecon" parameterType="com.model.EveryDayCon">
        update alex_foreveryday set content=#{content},updatetime=#{updatetime} where id=#{id}
    </update>

    <select id="gettypeid" resultType="com.model.EveryDayCon">
        select * from alex_foreveryday where id=#{id}
    </select>

</mapper>